.header{
    width: 100%;
    background: #0A3B4B;
    height: 80px;
    width: 100%;
   
    // position: absolute;
    // z-index: 1;
    position: sticky;
        top: 0;
        left: 0;
        .shrink{
            background: #4aa6c579;
            height: 60px;
        }    
    .navbar{
       
        display: flex;
        align-items: center;
        justify-content: space-between;
     
    
    
        .navbar__collection{
            font-family: poppins;
            display: flex;
            gap: 27px;
        
            .navbar__item{
                font-family:poppins ;
                font-size: 16px;
                font-weight: 500;
                color: #8B8E99;
            }
        }
        .navbar__logo{
            display: flex;
            gap: 15.38px;
          
        }
        .navbar__logo:hover{
            cursor: pointer;
            transform: scaleX(0.9);
        }
        .btr{
            @include button();
            background: #145E76;
            color: #ffff;
            font-size: 18px;
            font-weight: 700;
            border-radius: 25px;
            width: 148px;
            height: 58px;
        }
      
        
    }
}
.navbar.show{
    left: 0;
}
.menu{
    display: none;
}


@media (max-width:990px) {
    .header{
        .navbar{
            position:fixed;
                top: 0;
                flex-direction: column;
                padding: 30px;
                color: #fff;
                left: -300px;
                width: 300px;
                height: 100vh;
                transition: .5s;
                background: #000;
                z-index: 11;
            .navbar__collection{
                display: flex;
                flex-direction: column;
                padding: 20px;
                
                
            }
        }
    }
    .menu{
        display: block;
        display: flex;
        padding: 10px;
        color: #fff;
        justify-content: end;
    }
    
}